.Wrap {
  width: 100vw;
  color: white;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .TextContent {
    margin: 2em;
    padding: 0%;
    &:hover {
      background-color: grey;
      opacity: [0.9, 0.8, 0.7];
    }
    .answer {
      margin: 0;
      padding: 0;
    }
  }
  .highlight {
    color: blueviolet;
  }
  .Bottom {
    position: absolute;
    width: 100vw;
    bottom: 3em;
    margin: 3em;
  }
}
