.Wrap {
  width: 100vw;
  color: white;
  flex-direction: column;
  justify-content: center;
  .TextContent {
    margin: 2em;
    padding: 0%;
    text-align: center;
    .TextTitle {
      width: 80vw;
      padding: 2em;
      float: right;
      margin: 0;
      clear: both;
    }
    .answer {
      margin: 0;
      padding: 0;
    }
  }
  .highlight {
    color: blueviolet;
  }
  .Bottom {
    position: absolute;
    margin: 3em;
    bottom: 4em;
  }
  a {
    color: #2196f3;
    text-decoration: none;
    :active {
      color: #2196f3;
    }
  }
}
