@import '_fontColor.scss';

.Wrap {
  height: 100%;
  width: 100%;
  color: white;
  overflow: auto;
  .recruitName {
    margin-top: 5rem;
    text-align: center;
  }
  .AnswerWrap {
    margin: 3em;
    .AnswerDummyWrap {
      margin: auto;
      max-width: 60%;
      min-width: 50%;
      .AnswerField {
        border: none;
        margin-bottom: 2em;
      }
      .questionname {
        color: white;
      }
      .textfield {
        border-radius: 0.8em;
        background: $white;
        margin: 1em;
      }
    }
  }
  .RecruitAnswerSubmitWrap {
    text-align: center;
    .RecruitAnswerSubmit {
      color: white;
    }
  }
}
