@import '_fontColor.scss';

.Wrap {
  margin: auto;
  max-width: 60%;
  min-width: 50%;
  .AnswerField {
    border: none;
    margin-bottom: 2em;
  }
  .questionname {
    color: white;
  }
  .textfield {
    border-radius: 0.8em;
    background: $white;
  }
}
