@import url(https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300;400;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Song+Myung&display=swap);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@keyframes typewriter {
  0% {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blinkCursor {
  0% {
    border-right-color: rgba(37, 42, 52, 0.3);
  }
  to {
    border-right-color: #fff;
  }
}
.Wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
.Wrap .MainWrap {
  display: table;
  margin: auto;
}
.Wrap .MainWrap img {
  margin-top: 15%;
  filter: brightness(0) invert(1);
}
.Wrap .MainWrap .MainDefine {
  color: purple;
  opacity: 0.8;
}
.Wrap .MainWrap .MainButtonWrap .MainMotion .MainButton a,
.Wrap .MainWrap .MainButtonWrap .MainMotion .MainButton a :active,
.Wrap .MainWrap .MainDebug {
  color: #fff;
}
.Wrap .MainWrap .NameDebug {
  position: relative;
  font-family: 'Noto Serif KR', serif;
  font-size: 3em;
  justify-content: center;
  color: #00adb5;
}
.Wrap .MainWrap .NameDebug .MainImage {
  margin-top: 15%;
  vertical-align: middle;
}
.Wrap .MainWrap .line {
  border-right: 2px solid;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
}
.Wrap .MainWrap .typing {
  animation: typewriter 2s steps(16) 2s 1 normal both, blinkCursor 0.6s steps(6) infinite normal;
}
.Wrap .MainWrap .MainButtonWrap {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.Wrap .MainWrap .MainButtonWrap .MainMotion {
  display: inline-table;
  margin-top: 20%;
}
.Wrap .MainWrap .MainButtonWrap .MainMotion .MainButton {
  width: 5em;
  height: 5em;
  color: #fff;
  background-color: rgba(37, 42, 52, 0.5);
  border-style: none;
}
