@import url(https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300;400;700&display=swap);
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
#__next {
  height: 100vh;
}
.FooterBody,
.HeaderBody {
  font-family: 'Noto Serif KR', serif;
  background-color: #252a34;
  width: 100%;
  height: 2rem;
  color: #fff;
}
.FooterBody {
  position: fixed;
  bottom: 0;
  font-size: 0.3em;
  text-align: center;
}
.HeaderBody {
  display: flex;
  justify-content: space-between;
  font-size: 0.5em;
}
.HeaderBody .LogoImg {
  width: 2rem;
}
